:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --body-text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
  --modal-background: #fcfcfc;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--body-text);
  background-color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
}
.logo-web {
  color: var(--primary-brand);
}
.header .logo-studio {
  color: var(--dark);
}
.header .nav-link {
  font-weight: 500;
  text-align: left;
  color: var(--dark);
}

.nav-link:active {
  color: var(--pressed-state);
  text-decoration: underline;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
  text-decoration: underline;
}

.address-link {
  color: inherit;
}

.address-link:active {
  color: var(--pressed-state);
  text-decoration: underline;
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state);
  text-decoration: underline;
}

.hero-section {
  background-color: var(--dark);
}

.hero-section .title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: var(--white);
  text-align: center;
}

.hero-section .button {
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  text-align: center;
  color: var(--white);
  background-color: var(--primary-brand);
}
.hero-section .button:hover,
.hero-section .button:focus {
  background-color: var(--pressed-state);
}

.text-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--dark);
}

.text {
  color: var(--body-text);
}
.features .text-title {
  text-align: left;
}
.features .text {
  text-align: left;
}

.section-title {
  color: var(--dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.id-section {
  background-color: var(--light);
}

.team-card {
  background-color: var(--white);
}

.team-card .text-title {
  text-align: center;
}
.team-card .text {
  text-align: center;
}

.footer {
  background-color: var(--dark);
}

.footer .logo-studio {
  color: var(--light);
}

.footer-text {
  text-align: left;
  color: var(--light);
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  color: var(--primary-brand);
  background-color: var(--light);
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
}

.filter-button:active {
  color: var(--white);
  background-color: var(--pressed-state);
}

.filter-button:focus,
.filter-button:hover {
  color: var(--white);
  background-color: var(--pressed-state);
}

.project-card .text-title,
.project-card .text {
  text-align: left;
}
