:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --body-text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--primary-brand);
  background-color: var(--white-background);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
}

ul {
  list-style: none;
}
